{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="wrapper">
        <div class="content thin">
            <div class='post single post-7 page type-page status-publish hentry'>
                {% if reviews|length > 0 %}
                    {% for review in reviews %}
                        <div class='post-inner'>
                        <!-- /post-header section -->
                            <div class='post-content'>
                            {% if (review.photo is defined) and (review.photo != '') %}
                                <img class='alignleft' src="{{ image('bundles/app/images/reviews/'~review.photo).resize('500') }}"/>
                            {% endif %}
                            <p>{{ review.text }}</p>

                            {% if (review.author is defined) and (review.author != '') %}
                                <p>
                                    {{ review.author }}
                                </p>
                            {% endif %}
                            {% if review.link is defined %}
                                <a src='{{ review.link.url }}'>
                                    {{ review.link.text }}
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {% stylesheets 'bundles/app/styles/contacts.scss' output='bundles/app/styles/contacts.css' filter='cssrewrite'%}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media='all'/>
    {% endstylesheets %}
{% endblock %}

